*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: auto;
    min-width: 95vw;
    background: url(pictures/sample2-img-slider.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
header{
    min-height: 80px;
    max-height: auto;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.7);
}
a{
    text-decoration: none;
    cursor: pointer;
    color: white;
}
li{
    list-style: none;
}
#main_header{
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin: auto;
    flex-wrap: wrap;
}
#mainTitle{
    height: auto;
    width: auto;
    font-size: 30px;
    margin: auto 20px auto 0px;
    outline: none;
}
#nav_wrapper{
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto 0;
    position: relative;
    transition: all 0.5s ease-in;
    font-size: 20px;
}
#nav_wrapper a:hover{
    color: rgb(228, 196, 255);
}
nav{
    height: 60px;
    display: flex;
    flex-direction: column;
    
}
#navbarMenu{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    
}
#navbarMenu{
    width: auto;
    height: 100%;
    line-height: 60px;
}
.navItem{
    margin-right: 20px;
}
.searchButton{
    width: auto;
    height: auto;
}
#signIn_nav{
    height: 100%;
    margin: auto 0;
    display: flex;
    flex-direction: column;
    
}
#welcome{
    width: 100%;
    text-align: right;
    color: #fff;
}
#signIn_main{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: auto;
    
}
#bookmark{
    margin-right: 20px;
}
.headerButtons{
    position: relative;
    height: 30px;
    width: auto;
    margin: auto;
    line-height: 30px;
    padding: 0px 25px 10px 10px;
    background:url(pictures/sample2-img-slider.jpg);
    background-size: cover;
    border-radius: 5px;
    border: 5px solid transparent;
    transition: all 0.3s ease-in;
    background:linear-gradient(black,black) padding-box
               ,linear-gradient(to bottom right, purple, violet, plum, pink) border-box;
}
.headerButtons:hover{
    position: relative;
    height: 30px;
    width: auto;
    margin: auto;
    line-height: 30px;
    padding: 0px 25px 10px 10px;
    border: 5px solid rgba(0, 0, 0, 0.5);
    background:url(pictures/sample2-img-slider.jpg);
    background-size: cover;
    border-radius: 5px;
}


#searchItems{
    background-color: rgb(243, 243, 243);
    width: 50%;
    height: 300px;
    position: relative;
    margin: 20px auto 10px auto;
    border-radius: 20px;
    box-shadow: 10px 10px 5px rgb(161, 161, 236);
    display: none;
}
#searchContainer{
    height: 100%;
    width: 80%;
    margin: auto;
}
#searchBox{
    margin-bottom: 5px;
    border-radius: 10px;
}
.fa-solid{
    margin: 0px 5px 0px 5px;
}
.searchBar{
    width: 100%;
    height: 30px;
}
.searchBar label{
    height: auto;
    width: auto;
    line-height: 30px;
}
#inputBox{
    height: 20px;
    border: none;
    outline: none;
    width: 80%;
    background-color: rgb(243, 243, 243);
}
.mangaItem{
    height: 90px;
    width: 100%;
    position: relative;
    margin-bottom: 5px;
}
#mangaSection{
    overflow: hidden;
    display: flex;
    flex-direction: row;  
    
    height: 100%;
    width: 100%;
}
.cover{
    height: 100%;
    width: 80px;
    position: relative;
    display: block;
}
.mangaCover{
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
.mangaCover img{
    height: 100%;
    width: 100%;
    border-radius: 4px;
}
.mangaStat h4{
    margin: 0px 0px 10px 0px;
    color: black;
    font-size: 18px;
}
.mangaStat strong{
    color: rgb(110, 110, 235);
}
.mangaStat span{
    color: blueviolet;
}
.mangaStat{
    margin-left: 10px;
}
.mangaTitle{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 300px;
}

.main{
    width: 60%;
    margin: auto;
}
    .profile-container{
        width: 100%;
        display: flex;
        flex-direction: row;
        margin: 10px 0;
        justify-content: space-between;
    }
        .profile{
            height: 400px;
            width: 30%;
            background-color: #fff;
            border-radius: 2px;
            border: 2px solid rgb(195, 146, 229);
        }
            .profile-img{
                display: flex;
                justify-content: center;
                align-items: center;
            }
                .profile-img img{
                    border-radius: 50%;
                    width: 158px;
                    height: 148px;
                    border: 2px solid rgb(195, 146, 229);
                    margin-top: 10px;
                }
            .profile-info-edit{
                text-align: center;
            }
                .info-profile{
                    margin: 5px 0;
                }
                .info-profile:nth-child(1){
                    font-size: 20px;
                    margin-bottom: 80px;
                }
                .info-profile:nth-child(2) button{
                    border: none;
                    border-radius: 3px;
                    background-color: rgb(40, 40, 221);
                    padding: 10px;
                    color: white;
                    cursor: pointer;
                }
                .info-profile:nth-child(3) button{
                    border: none;
                    border-radius: 3px;
                    background-color: rgb(221, 40, 40);
                    padding: 10px;
                    color: white;
                    cursor: pointer;
                }
        .container-bookmark{
            height: 400px;
            width: 68%;
            background-color: #fff;
            border: 2px solid rgb(195, 146, 229);
        }
            .bookmark-title{
                margin: 0;
                text-align: center;
                font-size: 20px;
                border-bottom: 2px solid rgb(195, 146, 229);
            }
            .bookmark-title p {
                margin: 3px 0;
                cursor: pointer;
            }
            .bookmarks{
                height: auto;
                width: 100%;
                display: flex;
                flex-direction: column;
            }
                .manhwa_bookmark{
                    width: 95%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    padding: 5px 2%;
                    margin: 5px 0;
                    border: 2px dotted rgb(195, 146, 229);
                    font-size: 18px;
                }

    .edit-credentials-container{
        background-color: #fff;
        width: 99.5%;
        height: 150px;
        border: 2px solid rgb(195, 146, 229);
    }
        .edit-credentials{
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
        }
            .edit input{
                height: 40px;
            }
            .edit input::placeholder{
                color: rgb(195, 146, 229);
                text-align: center;
            }
            .edit button{
                padding: 12.5px;
                cursor: pointer;
            }



footer{
    height: 40px;
    padding: 20px;
    margin-top: 20px;
    border-top: 1px solid #c5c5c5;
    background-color: #fff;
    color: #1f2129;
    border-color: #e1e3e5;
    box-shadow: 1px 1px 20px;
}