*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: auto;
    min-width: 95vw;
    background: url(pictures/sample2-img-slider.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
header{
    min-height: 80px;
    max-height: auto;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.7);
}
a{
    text-decoration: none;
    cursor: pointer;
    color: white;
}
li{
    list-style: none;
}
#main_header{
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin: auto;
    flex-wrap: wrap;
}
#mainTitle{
    height: auto;
    width: auto;
    font-size: 30px;
    margin: auto 20px auto 0px;
    outline: none;
    color: rgb(255, 255, 255);
}
#nav_wrapper{
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto 0;
    position: relative;
    transition: all 0.5s ease-in;
    font-size: 20px;
}
#nav_wrapper a:hover{
    color: rgb(228, 196, 255);
}
nav{
    height: 60px;
    display: flex;
    flex-direction: column;
    
}
#navbarMenu{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    
}
#navbarMenu{
    width: auto;
    height: 100%;
    line-height: 60px;
}
.navItem{
    margin-right: 20px;
    margin-right: 20px;
}
.searchButton{
    width: auto;
    height: auto;
}
#signIn_nav{
    height: 100%;
    margin: auto 0;
    display: flex;
    flex-direction: column;
    
}
#welcome{
    width: 100%;
    text-align: right;
    color: #fff;
}
#signIn_main{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: auto;
    
}
#bookmark{
    margin-right: 20px;
}
.headerButtons{
    position: relative;
    height: 30px;
    width: auto;
    margin: auto;
    font-size: 20px;
    line-height: 30px;
    padding: 0px 25px 10px 10px;
    background:url(pictures/sample2-img-slider.jpg);
    background-size: cover;
    border-radius: 5px;
    border: 5px solid transparent;
    transition: all 0.3s ease-in;
    background:linear-gradient(black,black) padding-box
               ,linear-gradient(to bottom right, purple, violet, plum, pink) border-box;
}
.headerButtons:hover{
    position: relative;
    height: 30px;
    width: auto;
    margin: auto;
    font-size: 20px;
    line-height: 30px;
    padding: 0px 25px 10px 10px;
    border: 5px solid rgba(0, 0, 0, 0.5);
    background:url(pictures/sample2-img-slider.jpg);
    background-size: cover;
    border-radius: 5px;
}



#searchItems{
    background-color: rgb(243, 243, 243);
    width: 50%;
    height: 300px;
    position: relative;
    margin: 20px auto 10px auto;
    border-radius: 20px;
    box-shadow: 10px 10px 5px rgb(161, 161, 236);
    display: none;
}
#searchContainer{
    height: 100%;
    width: 80%;
    margin: auto;
}
#searchBox{
    margin-bottom: 5px;
    border-radius: 10px;
}
.fa-solid{
    margin: 0px 5px 0px 5px;
}
.searchBar{
    width: 100%;
    height: 30px;
}
.searchBar label{
    height: auto;
    width: auto;
    line-height: 30px;
}
#inputBox{
    height: 20px;
    border: none;
    outline: none;
    width: 80%;
    background-color: rgb(243, 243, 243);
}
.mangaItem{
    height: 90px;
    width: 100%;
    position: relative;
    margin-bottom: 5px;
}
#mangaSection{
    overflow: hidden;
    display: flex;
    
    flex-direction: row;  
    height: 100%;
    width: 100%;
}
.cover{
    height: 100%;
    width: 80px;
    position: relative;
    display: block;
}
.mangaCover{
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
.mangaCover img{
    height: 100%;
    width: 100%;
    border-radius: 4px;
}
.mangaStat h4{
    margin: 0px 0px 10px 0px;
    color: black;
    font-size: 20px;
}
.mangaStat strong{
    color: rgb(110, 110, 235);
}
.mangaStat span{
    color: blueviolet;
}
.mangaStat{
    margin-left: 10px;
}
.mangaTitle{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 300px;
}




.container{
    height: auto;
    width: 60%;
    padding: 0 10px 0 10px;
    margin: 40px auto ;
}
.filters{
    background-color: #fff;
    height: auto;
    width: 90%;
    padding: 5% 5%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(208, 161, 236) ;
}
.proptitle{
    width: fit-content;
    margin: 0 0 10px 0;
    padding: 0 0 10px 0;
    font-size: 20px;
    border-bottom: 2px solid rgb(0, 0, 0);
}
#categoryList{
    height: auto;
    width: 100%;
}
.propList{
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    height: auto;
    font-size: 18px;
}
.propList li{
    margin: 0 12px 15px 0;
    display: inline-block;
    color: rgb(132, 0, 255);
    border: 1px solid rgb(132, 0, 255);
    padding: 0 3px;
    border-radius: 3px;
}
.propList li:hover{
    border: 1px solid rgb(54, 0, 104);
    padding: 0 3px;
    border-radius: 3px;
    box-shadow: 3px 3px 5px rgb(208, 161, 236) ;
    transform: scale(1.1);
}
.propList a{
    color: rgb(14, 8, 19);
}
#result{
    height: auto;
    width: 100%;
    margin: 20px 0;
    background: transparent;
}
#result h1{
    margin-bottom: 10px;
    font-size: 20px;
    color: #fff;
    text-shadow: 5px 5px 5px rgb(208, 161, 236) ;
}
.description{
    margin: 0 0 5px 0;
    color: #fff;
    text-shadow: 5px 5px 5px rgb(208, 161, 236) ;
    font-size: 18px;
}
.description b{
    font-size: 18px;
}
#result span{
    background-color: #fff;
    padding: 0 10px;
    border-radius: 5px;
}
.description{
    width: 100%;
}
#categorised-result{
    margin: 0;
    width: 100px;
}




#category-content{
    width: 100%;
    height: auto;
}
#manga-list{
    padding: 0;
    height: auto;
    width: 100%;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
.categoryItem{
    height: 150px;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    flex-direction: row;
    justify-content: left;
    border-radius: 5px;
    transition: all .3s;
    margin-bottom: 20px;
}
.categoryItem:hover{
    height: 150px;
    width: 100%;
    background-color: rgba(255, 255, 255,0.5);
    display: flex;
    flex-direction: row;
    justify-content: left;
    border-radius: 5px;
    box-shadow  : 5px 5px 8px 4px rgba(0, 0, 0, 0.506)
                , -5px -5px 8px 4px rgba(255, 255, 255, 1);
    margin-bottom: 20px;
}
#manga-section{
    display: flex;
    flex-direction: row;
    justify-content: left;
}
.category-cover{
    height: 130px;
    width: 100px;
    margin: 10px 10px 10px 5px;
}
.category-cover img{
    background-size: cover;
    height: 100%;
    width: 100%;
    border-radius: 5px;
}
.manga-Title{
    margin: 5px 0 5px 5px;
    color: #ffffff;
    font-size: 20px;
    white-space:nowrap;
    overflow: hidden;
    max-width: 600px;
    text-overflow: ellipsis;
}
.status p{
    color: red;
    font-size: 18px;
    margin: 0 0 0 5px;
}
#manga-stat strong{
    margin-left: 5px;
    color: rgb(110, 110, 235);
}
#manga-stat span{
    margin-left: 5px;
    color: blueviolet;
}
.manga-description p{
    color: #ffffff;
    white-space:nowrap;
    overflow: hidden;
    max-width: 650px;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    margin: 0 0 0 5px;
}



.cover{
    height: 180px;
    width: 100%;
    overflow: hidden;
}
.cover img{
    height: 180px;
    width: 150px;
    background-size: cover;
    border-radius: 3px 3px 0 0;
    transition: all 1s;
}
.cover:hover img{
    transform: scale(1.3);
}




footer{
    height: 40px;
    padding: 20px;
    border-top: 1px solid #c5c5c5;
    background-color: #fff;
    color: #1f2129;
    border-color: #e1e3e5;
    box-shadow: 1px 1px 20px;
}