*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background: url(pictures/sample-img-login.jpg);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 619px;
    overflow: hidden;
    background-position: center;
    background-size: cover;
}
input, input:placeholder-shown{
    font-size: 18px;
}
#form_container {
    width: 100%;
    padding: 0;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    min-height: 100vh;
    margin: auto;
}
.old-login-box{
    width: 400px;
    height: 500px;
    background-color: rgb(235, 208, 241);
    border-radius: 3px;
    box-shadow: 0px 0px 20px;
    z-index: 2;
    transition: 1s ;
}
.new-login-box{
    width: 400px;
    height: 500px;
    background-color: rgb(235, 208, 241);
    border-radius: 3px;
    box-shadow: 0px 0px 20px;
    z-index: 1;
    transition: 1s ;
    filter: blur(5px);
    opacity: 0;
}
#logIn_bg{
    height: 150px;
    width: 100%;
    margin: 0;
    line-height: 150px;
    background: url(pictures/sample-img-login.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 3px 3px 0px 0px;
}
#logIn_bg h3{
    margin: 0;
    height: auto;
    width: auto;
    margin: auto;
    text-align: center;
    font-size: 30px;
    color: rgb(255, 255, 255);
}
a{
    text-decoration: none;
    cursor: pointer;
}
.logIn_form{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
}
.login_title{
    position: relative;
    font-size: 20px;
    text-align: center;
    margin: 10px auto 10px auto;
}
.login_user {
    width: 80%;
    height: 60px;
    margin-bottom: 16px;
    position: relative;
    background-color: white;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: left;
    border-radius: 3px;
    border: none;
}
.login_user i{
    line-height: 60px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #bd1899;
    cursor: pointer;
}
.inputUser{
    height: 90%;
    width: 70%;
    border: none;
    border-left: 2px solid #bd1899;
    outline: none;
    margin: auto auto auto 0;
    padding: 0 0 0 10px;
}
.login_password{
    width: 80%;
    height: 60px;
    margin-bottom: 16px;
    position: relative;
    background-color: white;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: left;
    border-radius: 3px;
    border: none;
}
.login_password i{
    line-height: 60px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #bd1899;
    cursor: pointer;
}
.inputpassword{
    height: 90%;
    width: 70%;
    border: none;
    border-left: 2px solid #bd1899;
    outline: none;
    margin: auto auto auto 0;
    padding: 0 0 0 10px;
}
.login-button{
    cursor: pointer;
    margin: auto;
    font-size: 18px;
    line-height: 1.5;
    color: #fff;
    text-transform: uppercase;
    width: 80%;
    height: 60px;
    border: none;
    border-radius: 3px;
    background: #bd1899;
    justify-content: center;
    align-items: center;
    display: flex;
}
.old-signUp-box{
    position: fixed;
    width: 400px;
    height: 500px;
    background-color: rgb(235, 208, 241);
    border-radius: 3px;
    box-shadow: 0px 0px 20px;
    z-index: 1;
    opacity: 0;
    filter: blur(5px);
    transition: 1s ;
}
.new-signUp-box{
    position: fixed;
    width: 400px;
    height: 500px;
    background-color: rgb(235, 208, 241);
    border-radius: 3px;
    box-shadow: 0px 0px 20px;
    z-index: 2;
    transition: 1s ;
}

#signUp_bg{
    height: 100px;
    width: 100%;
    margin: 0;
    line-height: 100px;
    background: url(pictures/sample-img-login.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 3px 3px 0px 0px;
}
#signUp_bg h3{
    margin: 0;
    height: auto;
    width: auto;
    margin: auto;
    text-align: center;
    font-size: 30px;
    color: rgb(255, 255, 255);
}
.signUp_form{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
}
.signUp_title{
    position: relative;
    font-size: 20px;
    text-align: center;
    margin: 10px auto 10px auto;
}
.signUp_user{
    width: 80%;
    height: 60px;
    margin-bottom: 16px;
    position: relative;
    background-color: white;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: left;
    border-radius: 3px;
    border: none;
}
.signUp_user i{
    line-height: 60px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #bd1899;
    cursor: pointer;
}
.inputUser{
    height: 90%;
    width: 70%;
    border: none;
    border-left: 2px solid #bd1899;
    outline: none;
    margin: auto auto auto 0;
    padding: 0 0 0 10px;
}
.signUp_password{
    width: 80%;
    height: 60px;
    margin-bottom: 16px;
    position: relative;
    background-color: rgb(255, 255, 255);
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: left;
    border-radius: 3px;
    border: none;
}
.signUp_password i{
    line-height: 60px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #bd1899;
    cursor: pointer;
}
.inputpassword{
    height: 90%;
    width: 70%;
    border: none;
    border-left: 2px solid #bd1899;
    outline: none;
    margin: auto auto auto 0;
    padding: 0 0 0 10px;
}
.signUp_comfirm_password{
    width: 80%;
    height: 60px;
    margin-bottom: 16px;
    position: relative;
    background-color: white;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: left;
    border-radius: 3px;
    border: none;
}
.signUp_comfirm_password i{
    line-height: 60px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #bd1899;
    cursor: pointer;
}
.signUp-button{
    margin: auto;
    font-size: 18px;
    line-height: 1.5;
    color: #fff;
    text-transform: uppercase;
    width: 80%;
    height: 60px;
    border: none;
    border-radius: 3px;
    background: #bd1899;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
}
.switch a{
    color: #1829BD;
}
