*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: auto;
    min-width: 95vw;
    background: url(pictures/sample2-img-slider.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
header{
    min-height: 80px;
    max-height: auto;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.7);
}
a{
    text-decoration: none;
    cursor: pointer;
    color: white;
}
li{
    list-style: none;
}
#main_header{
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin: auto;
    flex-wrap: wrap;
}
#mainTitle{
    height: auto;
    width: auto;
    font-size: 30px;
    font-weight: 700;
    margin: auto 20px auto 0px;
    outline: none;
    color: rgb(255, 255, 255);
}
#nav_wrapper{
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto 0;
    position: relative;
    text-shadow: 5px 5px 5px rgb(208, 161, 236) ;
    transition: all 0.5s ease-in;
}
#nav_wrapper a:hover{
    text-shadow: 5px 5px 5px rgb(208, 161, 236) ;
    color: rgb(228, 196, 255);
}
nav{
    height: 60px;
    display: flex;
    flex-direction: column;
    
}
#navbarMenu{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    
}
#navbarMenu{
    width: auto;
    height: 100%;
    line-height: 60px;
}
.navItem{
    margin-right: 20px;
    font-size: 20px;
    font-weight: 400;
    margin-right: 20px;
}
.searchButton{
    width: auto;
    height: auto;
}
#signIn_nav{
    height: 100%;
    margin: auto 0;
    display: flex;
    flex-direction: column;
    
}
#welcome{
    width: 100%;
    text-align: right;
    color: #fff;
}
#signIn_main{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: auto;
    
}
#bookmark{
    font-size: 20px;
    font-weight: 400;
    margin-right: 20px;
}
#logOut{
    font-size: 20px;
    font-weight: 400;
}
.headerButtons{
    position: relative;
    height: 30px;
    width: auto;
    margin: auto;
    font-size: 20px;
    line-height: 30px;
    padding: 0px 25px 10px 10px;
    background:url(pictures/sample2-img-slider.jpg);
    background-size: cover;
    border-radius: 5px;
    border: 5px solid transparent;
    transition: all 0.3s ease-in;
    background:linear-gradient(black,black) padding-box
               ,linear-gradient(to bottom right, purple, violet, plum, pink) border-box;
}
.headerButtons:hover{
    position: relative;
    height: 30px;
    width: auto;
    margin: auto;
    font-size: 20px;
    line-height: 30px;
    padding: 0px 25px 10px 10px;
    border: 5px solid rgba(0, 0, 0, 0.5);
    background:url(pictures/sample2-img-slider.jpg);
    background-size: cover;
    border-radius: 5px;
}


#searchItems{
    background-color: rgb(243, 243, 243);
    width: 50%;
    height: 300px;
    position: relative;
    margin: 20px auto 10px auto;
    border-radius: 20px;
    box-shadow: 10px 10px 5px rgb(161, 161, 236);
    display: none;
}
#searchContainer{
    height: 100%;
    width: 80%;
    margin: auto;
}
#searchBox{
    margin-bottom: 5px;
    border-radius: 10px;
}
.fa-solid{
    margin: 0px 5px 0px 5px;
}
.searchBar{
    width: 100%;
    height: 30px;
}
.searchBar label{
    height: auto;
    width: auto;
    line-height: 30px;
}
#inputBox{
    height: 20px;
    border: none;
    outline: none;
    width: 80%;
    background-color: rgb(243, 243, 243);
}
.mangaItem{
    height: 90px;
    width: 100%;
    position: relative;
    margin-bottom: 5px;
}
#mangaSection{
    overflow: hidden;
    display: flex;
    flex-direction: row;  
    
    height: 100%;
    width: 100%;
}
.cover{
    height: 100%;
    width: 80px;
    position: relative;
    display: block;
}
.mangaCover{
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
.mangaCover img{
    height: 100%;
    width: 100%;
    border-radius: 4px;
}
.mangaStat h4{
    margin: 0px 0px 10px 0px;
    color: black;
    font-size: 18px;
}
.mangaStat strong{
    color: rgb(110, 110, 235);
}
.mangaStat span{
    color: blueviolet;
}
.mangaStat{
    margin-left: 10px;
}
.mangaTitle{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 300px;
}

.main{
    margin: 30px auto;
    width: 60%;
}
    .title{
        width: 100%;
        height: 70px;
        background-color: #1f2129;
        border-top: 2px solid #c5c5c5;
        border-bottom: 2px solid #c5c5c5;
    }
    .title p{
        margin: 5px 0;
    }
    .title p:nth-child(1){
        font-size: 20px;
        color: #a9baff;
    }
    .title p:nth-child(2){
        color: #a9a9a9;
        font-size: 18px;
    }
    .navigate{
        align-items: center;
        display: flex;
        justify-content: center;
    }
    .navigate span{
        width: 30px;
        display: block;
        text-align: center;
        background-color: #fff;
        border: 1px solid #fff;
    }
    .navigate a{
        background-color: #fff;
        border-radius: 3px;
        padding: 5px;
        color: #8d39c5;
        margin-top: 3px;
    }
    .content{
        width: 100%;
    }
    .content img{
        object-fit: cover;
        width: 100%;
        
    }

footer{
    height: 40px;
    padding: 20px;
    margin-top: 20px;
    border-top: 1px solid #c5c5c5;
    background-color: #fff;
    color: #1f2129;
    border-color: #e1e3e5;
    box-shadow: 1px 1px 20px;
}
